[submodule "third_party/FFmpeg"]
	path = third_party/FFmpeg
	url = https://git.ffmpeg.org/ffmpeg.git

[submodule "third_party/x264"]
	path = third_party/x264
	url = https://code.videolan.org/videolan/x264.git

[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
